<!DOCTYPE html>
<html><head>
<title>产品上传</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="Biruang Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- css -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<!--// css -->
<script src="js/jquery.min.js"></script>
<!-- dropdown -->
<script src="js/jquery.easydropdown.js"></script>
<link href="css/nav.css" rel="stylesheet" type="text/css" media="all">
<link href="css/upload_product.css" rel="stylesheet" type="text/css">
<script src="js/scripts.js"></script>
<script src="js/upload_product.js"></script>
<script src="js/common.js"></script>

</head>
<body>
	<!-- header -->
	<div class="header">
		<!-- container -->
		<div class="container">
			<!-- header-top -->
			<div class="header-top">
				<div class="header-logo">
					<a href="index.html"><img src="images/logo.png" alt="" /></a>
				</div>
				<div class="header-right">
					<ul>
						<li class="phone">+371 282 20 760</li>
						<li class="mail"><a href="mailto:example@mail.com">eony321v@gmail.com</a></li>
						<li class="checkout">
						<input type="text" value="Search..." onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Search...';}" required="">
							<div class="shopping">
								<h5>Your Shopping Cart is empty.</h5>
								<p>Give it purpose—fill it with books, movies, mobiles, cameras, toys and fashion jewellery.</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //header -->
	<!-- main -->
	<div class="main">
		<!-- container -->
		<div class="container">
			<!-- menu -->
			<div class="menu">
				<h2 class="title">关于商家</h2>
				<ul class="menu_box">
					<li class="menu_list">
						<p>
							<i class="bgImg bgImg1"></i>
							<span class="menu_list_title">产品管理</span>
						</p>
						<div class="module">
							<p>产品上传</p>
							<p>产品列表</p>
							<p>产品留言</p>
						</div>
					</li>
					<li class="menu_list">
						<p>
							<i class="bgImg bgImg2"></i>
							<span class="menu_list_title">商家中心</span>
						</p>
						<div class="module">
							<p>商家介绍</p>
							<p>商家信息</p>
						</div>
					</li>
					<li class="menu_list">
						<p>
							<i class="bgImg bgImg3"></i>
							<span class="menu_list_title">商家资料</span>
						</p>
						<div class="module">
							<p>营业执照</p>
							<p>商家资质</p>
						</div>
					</li>
					<li class="menu_list">
						<p>
							<i class="bgImg bgImg4"></i>
							<span class="menu_list_title">论坛</span>
						</p>
						<div class="module">
							<p>发帖回复</p>
						</div>
					</li>
				</ul>
			</div>
			<!-- //menu -->
			<!-- companyData -->
			<div class="companyData">
				<div class="header"><span>产品管理 > 产品上传</span></div>
				<div class="product_message">
					<div class="g-tabWrap">
						<div class="g-tabHdWrap">
							<ul class="g-tabHd">
								<li class="f-active"><span>基本信息</span></li>
								<li class=""><span>属性选择</span></li>
							</ul>
						</div>
						<div class="g-tabMn">
							<div class="g-tabMnItem f-active">
								<div class="basic">
									<div class="classify">
										<div class="row">
											<div class="col-xs-6 col-md-6 commodity_terrace"><!-- 商品分类 -->
												<div class="m-form-item">
													<label class="m-form-hd">
														<span class="u-hd-require">*</span>
														<span class="u-hd-txt">商品分类(平台):</span>
													</label>
													<select class="u-ipt-select">
														<option>一级分类1</option>
														<option>一级分类2</option>
														<option>一级分类3</option>
													</select>
													<select class="u-ipt-select">
														<option>二级分类1</option>
														<option>二级分类2</option>
														<option>二级分类3</option>
													</select>
												</div>
											</div>
										    <div class="col-xs-6 col-md-6 brand"><!-- 品牌 -->
												<div class="m-form-item">
													<label class="m-form-hd">
														<span class="u-hd-require"></span>
														<span class="u-hd-txt">品牌:</span>
													</label>
													<select class="u-ipt-select">
														<option>111</option>
														<option>222</option>
														<option>333</option>
													</select>
												</div>
											</div>
										</div>
										<div class="row">
										    <div class="col-xs-6 col-md-12 commodity_store"><!-- 商品分类 -->
												<div class="m-form-item">
													<label class="m-form-hd">
														<span class="u-hd-require">*</span>
														<span class="u-hd-txt">商品分类(店铺):</span>
													</label>
													<select class="u-ipt-select">
														<option>一级分类1</option>
														<option>一级分类2</option>
														<option>一级分类3</option>
													</select>
													<select class="u-ipt-select">
														<option>二级分类1</option>
														<option>二级分类2</option>
														<option>二级分类3</option>
													</select>
												</div>
										    </div>
										</div>
									</div>
									<div  class="message">
										<div class="row">
										  <div class="col-xs-6 col-md-6">
										  	<div class="m-form-item">
												<label class="m-form-hd">
													<span class="u-hd-require">*</span>
													<span class="u-hd-txt">商品名称:</span>
												</label>
												<input type="text" class="u-ipt-text">
											</div>
										  </div>
										  <div class="col-xs-6 col-md-6">
										  	<div class="m-form-item">
												<label class="m-form-hd">
													<span class="u-hd-require"></span>
													<span class="u-hd-txt">副标题:</span>
												</label>
												<input type="text" class="u-ipt-text">
											</div>
										  </div>
										</div>
										<div class="row">
										  <div class="col-xs-6 col-md-6">
												<div class="m-form-item">
													<label class="m-form-hd">
														<span class="u-hd-require">*</span>
														<span class="u-hd-txt">xxxx:</span>
													</label>
													<input type="text" class="u-ipt-text">
												</div>
										  </div>
										  <div class="col-xs-6 col-md-6">
												<div class="m-form-item">
													<label class="m-form-hd">
														<span class="u-hd-require">*</span>
														<span class="u-hd-txt">xxxx:</span>
													</label>
													<input type="text" class="u-ipt-text">
												</div>
										  </div>
										</div>
										<div class="row">
										  <div class="col-xs-6 col-md-6">
												<div class="m-form-item">
													<label class="m-form-hd">
														<span class="u-hd-require">*</span>
														<span class="u-hd-txt">xxxx:</span>
													</label>
													<input type="text" class="u-ipt-text">
												</div>
										  </div>
										  <div class="col-xs-6 col-md-6">
												<div class="m-form-item">
													<label class="m-form-hd">
														<span class="u-hd-require">*</span>
														<span class="u-hd-txt">xxxx:</span>
													</label>
													<input type="text" class="u-ipt-text">
												</div>
										  </div>
										</div>
										<div class="row">
										  <div class="col-xs-6 col-md-6">
											<div class="m-form-item">
												<label class="m-form-hd">
													<span class="u-hd-require"></span>
													<span class="u-hd-txt">标签:</span>
												</label>
												<div class="m-checkboxgroup">
													<div class="u-checkboxitem">
														<input type="checkbox" class="u-ipt-checkbox" name="" id="checkbox1" checked="">
														<label for="checkbox1">
															<div class="i-checkbox z-checked">
																<i></i>
															</div>
															<span class="i-checkboxtxt">新品</span>
														</label>
													</div>
													<div class="u-checkboxitem">
														<input type="checkbox" class="u-ipt-checkbox" name="" id="checkbox2">
														<label for="checkbox2">
															<div class="i-checkbox">
																<i></i>
															</div>
															<span class="i-checkboxtxt">热卖</span>
														</label>
													</div>
													<div class="u-checkboxitem">
														<input type="checkbox" class="u-ipt-checkbox" name="" id="checkbox3">
														<label for="checkbox3">
															<div class="i-checkbox">
																<i></i>
															</div>
															<span class="i-checkboxtxt">5折</span>
														</label>
													</div>
												</div>
											</div>
										  </div>
										  <div class="col-xs-6 col-md-6">
												<div class="m-form-item">
													<label class="m-form-hd">
														<span class="u-hd-require"></span>
														<span class="u-hd-txt">建议价:</span>
													</label>
													<input type="text" class="u-ipt-text">
												</div>
										  </div>
										</div>
									</div>
									<div class="audit">
										<div class="m-form-item putaway"><!-- 是否审核完毕上架 -->
											<label class="m-form-hd">
												<span class="u-hd-txt">是否审核完毕上架：</span>
											</label>
											<div class="m-radiogroup">
												<div class="u-radioitem">
													<input type="radio" class="u-ipt-radio" name="goodsWay" id="radio1" checked="">
													<label for="radio1">
														<div class="i-radio  z-checked">
															<i></i>
														</div>
														<span class="i-radiotxt">是</span>
													</label>
												</div>
												<div class="u-radioitem">
													<input type="radio" class="u-ipt-radio" name="goodsWay" id="radio2">
													<label for="radio2">
														<div class="i-radio">
															<i></i>
														</div>
														<span class="i-radiotxt">否</span>
													</label>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="img_describe">
									<div class="heade">图片与描述</div>
									<div class="imgDescribe">
										<div class="show_img">
											<span class="labe">展示图片：</span>
											<div class="upimg">
												<input type="file">
												<span>选择文件</span>
											</div>
										</div>
										<div class="photo_album">
											<span class="labe">相册：</span>
											<div class="upimg">
												<input type="file">
												<span>选择文件</span>
											</div>
											<div class="upimg">
												<input type="file">
												<span>选择文件</span>
											</div>
											<div class="upimg">
												<input type="file">
												<span>选择文件</span>
											</div>
											<div class="upimg">
												<input type="file">
												<span>选择文件</span>
											</div>
											<div class="upimg">
												<input type="file">
												<span>选择文件</span>
											</div>
										</div>
										<div class="product_description">
											<span class="labe">商品描述：</span>
											<div class="text_editing">
												<span class="test">文字编辑插件区域</span>
											</div>
										</div>
									</div>
								</div>

									
										<div class="button">
											<div class="submit">提交审核</div>
											<div class="cancel">取消</div>
										</div>
							</div>
							<div class="g-tabMnItem">
								属性选择的内容
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //companyData -->
		</div>
		<!-- //container -->
	</div>
	<!-- //main -->
	<!-- footer -->
	<div class="footer">
		<!-- container -->
		<div class="container">
			<div class="col-md-3 stores-grid">
				<div class="stores">
					<h3>Our Stores</h3>
					<ul>
						<li>Feel free to visit our stores or contact us.</li>
						<li>1401 South Grand Avenue </li>
						<li>Los Angeles, CA 90015 </li>
						<li>(213) 748-2411</li>

						<span>
						<li class="drive">100 Fairview Drive </li>
						<li>Franklin, VA 23851</li> 
						<li>(757) 569-6100 </li>
						</span>
					</ul>
				</div>
				<div class="social-icons white-icons">
					<ul>
						<li><a href="#" class="facebook"></a></li>
						<li><a href="#" class="twitter"></a></li>
						<li><a href="#" class="chrome"></a></li>
						<li><a href="#" class="vimeo"></a></li>
						<li><a href="#" class="rss"></a></li>
				</div>
			</div>
			<div class="col-md-3 blog">
				<h3>Blog posts</h3>
				<a href="#">Justin Bieber confirmed that he is gay.</a>
				<p>Lorem ipsum dolor sit amet, consectetur
					adipiscing elit. Donec sed auctor elit.
				</p>
				<a href="#">New sexy sport clothes are here!</a>
				<p>Lorem ipsum dolor sit amet, consectetur
					adipiscing elit. Donec sed auctor elit.
				</p>
				<a href="#">Summer sales are coming!</a>
				<p>Lorem ipsum dolor sit amet, consectetur
					adipiscing elit. Donec sed auctor elit.
				</p>
			</div>
			<div class="col-md-3 support">
				<h3>Support</h3>
				<div class="support-grids">
					<div class="support-left">
						<ul>
							<li><a href="#">Terms & Conditions</a></li>
							<li><a href="#">FAQ</a></li>
							<li><a href="#">Payment</a></li>
							<li><a href="#">Refunds</a></li>
							<li><a href="#">Track Order</a></li>
							<li><a href="#">Services</a></li>
							<li><a href="#">Privacy & Security</a></li>
							<li><a href="#">Careers</a></li>
							<li><a href="#">Press</a></li>
							<li><a href="#">Corporate Information</a></li>
						</ul>
					</div>
					<div class="support-left support-right">
						<ul>
							<li><a href="#">Sizing</a></li>
							<li><a href="#">Ordering</a></li>
							<li><a href="#">Shipping</a></li>
							<li><a href="#">Return Policy</a></li>
							<li><a href="#">Affiliates</a></li>
							<li><a href="#">Find A Store </a></li>
							<li><a href="#">Site Map</a></li>
							<li><a href="#">Sign Up & Save</a></li>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-3 contact">
				<h3>Contact us</h3>
				<form>
					<input type="text" value="your e-mail..." onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'your e-mail...';}" required="">
					<textarea value="your text...:" onFocus="if(this.value == 'your text...') this.value='';" onBlur="if(this.value == '') this.value='your text...';">your text...</textarea>
					<input type="submit" value="Send MESSAGE">
				</form>
			</div>
			<div class="clearfix"> </div>
			<div class="copyright">
				<p>Copyright &copy; 2015.Company name All rights reserved.<a target="_blank" href="http://www.cssmoban.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a> - More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a></p>
			</p>
		</div>
		<!-- // container -->
	</div>
	<!-- //footer -->
</body>

</html>