<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.sqe.shop.mapper.CommentMapper">

<resultMap type="com.sqe.shop.model.Comment" id="CommentBaseMapper">
	<id property="date" column="date" />
	<id property="newsId" column="news_id" />
	<id property="productId" column="product_id" />
	<id property="context" column="context" />
	<id property="shopId" column="shop_id" />
	<id property="id" column="id" />
	<id property="commentId" column="comment_id" />
	<id property="userId" column="user_id" />
	<id property="status" column="status" />
</resultMap>  

<insert id="insert">
	<selectKey resultType="long" keyProperty="id">  
   		select LAST_INSERT_ID()
   	</selectKey>
	insert into comment
	(date,news_id,product_id,context,comment_id,shop_id,user_id,status)
	values
	(#{date},#{newsId},#{productId},#{context},#{commentId},#{shopId},#{userId},#{status})
</insert>

<update id="update">
	UPDATE comment 
	<set>
			<if test="date != null">  
	        	date=#{date},
	    	</if>
			<if test="newsId != null">  
	        	news_id=#{newsId},
	    	</if>
			<if test="productId != null">  
	        	product_id=#{productId},
	    	</if>
			<if test="context != null">  
	        	context=#{context},
	    	</if>
	    	<if test="commentId != null">  
	        	comment_id=#{commentId},
	    	</if>
			<if test="shopId != null">  
	        	shop_id=#{shopId},
	    	</if>
			<if test="userId != null">  
	        	user_id=#{userId},
	    	</if>
			<if test="status != null">  
	        	status=#{status},
	    	</if>
	</set>   
    WHERE id=#{id}
</update>

<delete id="delete">
	delete from comment where id=#{id}
</delete>

<select id="getById" resultMap="CommentBaseMapper">
	SELECT * FROM comment WHERE id=#{id} 
</select>

<select id="countByParm" resultType="integer">
	select count(*) from comment  where 1=1 
			<if test="parm.date != null">
		     	and date = #{parm.date}
		   	</if>
			<if test="parm.newsId != null">
		     	and news_id = #{parm.newsId}
		   	</if>
			<if test="parm.productId != null">
		     	and product_id = #{parm.productId}
		   	</if>
			<if test="parm.context != null">
		     	and context = #{parm.context}
		   	</if>
		   	<if test="parm.commentId != null">
		     	and comment_id = #{parm.commentId}
		   	</if>
			<if test="parm.shopId != null">
		     	and shop_id = #{parm.shopId}
		   	</if>
			<if test="parm.userId != null">
		     	and user_id = #{parm.userId}
		   	</if>
			<if test="parm.status != null">
		     	and status = #{parm.status}
		   	</if>
</select>

<select id="getBeanListByParm" resultMap="CommentBaseMapper">
	select * from comment where 1=1 
			<if test="parm.date != null">
		     	and date = #{parm.date}
		   	</if>
			<if test="parm.newsId != null">
		     	and news_id = #{parm.newsId}
		   	</if>
			<if test="parm.productId != null">
		     	and product_id = #{parm.productId}
		   	</if>
			<if test="parm.context != null">
		     	and context = #{parm.context}
		   	</if>
		   	<if test="parm.commentId != null">
		     	and comment_id = #{parm.commentId}
		   	</if>
			<if test="parm.shopId != null">
		     	and shop_id = #{parm.shopId}
		   	</if>
			<if test="parm.userId != null">
		     	and user_id = #{parm.userId}
		   	</if>
			<if test="parm.status != null">
		     	and status = #{parm.status}
		   	</if>
		<if test="parm.orderby != null">
	   		order by ${parm.orderby}
	   	</if>
		<if test="parm.start != null">
			limit #{parm.start},#{parm.limit}
		</if>
</select>


<select id="getMapListByParm" parameterType="HashMap" resultType="HashMap">
	select c.context,c.id,n.news_title as newsTitle,c.date,c.user_id as userId, c.`status`,u.username from comment c 
	LEFT JOIN news n on c.news_id=n.id
	LEFT JOIN `user` u on c.user_id=u.id
	where 1=1
	<if test="parm.newsId != null">
     	and n.id = #{parm.newsId}
   	</if>
	<if test="parm.orderby != null">
   		order by ${parm.orderby}
   	</if>
	<if test="parm.start != null">
		limit #{parm.start},#{parm.limit}
	</if>
</select>


</mapper>