<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.sqe.shop.mapper.ImageMapper">

<resultMap type="com.sqe.shop.model.Image" id="ImageBaseMapper">
	<id property="newsId" column="news_id" />
	<id property="imageLocalurl" column="image_localURL" />
	<id property="productId" column="product_id" />
	<id property="psotId" column="psot_id" />
	<id property="imagePath" column="image_path" />
	<id property="shopId" column="shop_id" />
	<id property="id" column="id" />
	<id property="imageTitle" column="image_title" />
</resultMap>  

<insert id="insert">
	<selectKey resultType="long" keyProperty="id">  
   		select LAST_INSERT_ID()
   	</selectKey>
	insert into image
	(news_id,image_localURL,product_id,psot_id,image_path,shop_id,image_title)
	values
	(#{newsId},#{imageLocalurl},#{productId},#{psotId},#{imagePath},#{shopId},#{imageTitle})
</insert>

<update id="update">
	UPDATE image 
	<set>
			<if test="newsId != null">  
	        	news_id=#{newsId},
	    	</if>
			<if test="imageLocalurl != null">  
	        	image_localURL=#{imageLocalurl},
	    	</if>
			<if test="productId != null">  
	        	product_id=#{productId},
	    	</if>
			<if test="psotId != null">  
	        	psot_id=#{psotId},
	    	</if>
			<if test="imagePath != null">  
	        	image_path=#{imagePath},
	    	</if>
			<if test="shopId != null">  
	        	shop_id=#{shopId},
	    	</if>
			<if test="imageTitle != null">  
	        	image_title=#{imageTitle},
	    	</if>
	</set>   
    WHERE id=#{id}
</update>

<delete id="delete">
	delete from image where id=#{id}
</delete>

<select id="getById" resultMap="ImageBaseMapper">
	SELECT * FROM image WHERE id=#{id} 
</select>

<select id="countByParm" resultType="integer">
	select count(*) from image  where 1=1 
			<if test="parm.newsId != null">
		     	and news_id = #{parm.newsId}
		   	</if>
			<if test="parm.imageLocalurl != null">
		     	and image_localURL = #{parm.imageLocalurl}
		   	</if>
			<if test="parm.productId != null">
		     	and product_id = #{parm.productId}
		   	</if>
			<if test="parm.psotId != null">
		     	and psot_id = #{parm.psotId}
		   	</if>
			<if test="parm.imagePath != null">
		     	and image_path = #{parm.imagePath}
		   	</if>
			<if test="parm.shopId != null">
		     	and shop_id = #{parm.shopId}
		   	</if>
			<if test="parm.imageTitle != null">
		     	and image_title = #{parm.imageTitle}
		   	</if>
</select>

<select id="getBeanListByParm" resultMap="ImageBaseMapper">
	select * from image where 1=1 
			<if test="parm.newsId != null">
		     	and news_id = #{parm.newsId}
		   	</if>
			<if test="parm.imageLocalurl != null">
		     	and image_localURL = #{parm.imageLocalurl}
		   	</if>
			<if test="parm.productId != null">
		     	and product_id = #{parm.productId}
		   	</if>
			<if test="parm.psotId != null">
		     	and psot_id = #{parm.psotId}
		   	</if>
			<if test="parm.imagePath != null">
		     	and image_path = #{parm.imagePath}
		   	</if>
			<if test="parm.shopId != null">
		     	and shop_id = #{parm.shopId}
		   	</if>
			<if test="parm.imageTitle != null">
		     	and image_title = #{parm.imageTitle}
		   	</if>
		<if test="parm.orderby != null">
	   		order by ${parm.orderby}
	   	</if>
		<if test="parm.start != null">
			limit #{parm.start},#{parm.limit}
		</if>
</select>


<select id="getMapListByParm" parameterType="HashMap" resultType="HashMap">
	select * from image where 1=1
		<if test="parm.orderby != null">
	   		order by ${parm.orderby}
	   	</if>
		<if test="parm.start != null">
			limit #{parm.start},#{parm.limit}
		</if>
</select>

</mapper>