<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.sqe.shop.mapper.PostMapper">

<resultMap type="com.sqe.shop.model.Post" id="PostBaseMapper">
	<id property="replyToFloor" column="reply_to_floor" />
	<id property="threadId" column="thread_id" />
	<id property="postContext" column="post_context" />
	<id property="replyToUserId" column="reply_to_user_id" />
	<id property="postStatus" column="post_status" />
	<id property="postDate" column="post_date" />
	<id property="id" column="id" />
	<id property="floor" column="floor" />
	<id property="userId" column="user_id" />
</resultMap>  

<insert id="insert">
	<selectKey resultType="long" keyProperty="id">  
   		select LAST_INSERT_ID()
   	</selectKey>
	insert into post
	(reply_to_floor,thread_id,post_context,reply_to_user_id,post_status,post_date,floor,user_id)
	values
	(#{replyToFloor},#{threadId},#{postContext},#{replyToUserId},#{postStatus},#{postDate},#{floor},#{userId})
</insert>

<update id="update">
	UPDATE post 
	<set>
			<if test="replyToFloor != null">  
	        	reply_to_floor=#{replyToFloor},
	    	</if>
			<if test="threadId != null">  
	        	thread_id=#{threadId},
	    	</if>
			<if test="postContext != null">  
	        	post_context=#{postContext},
	    	</if>
			<if test="replyToUserId != null">  
	        	reply_to_user_id=#{replyToUserId},
	    	</if>
			<if test="postStatus != null">  
	        	post_status=#{postStatus},
	    	</if>
			<if test="postDate != null">  
	        	post_date=#{postDate},
	    	</if>
			<if test="floor != null">  
	        	floor=#{floor},
	    	</if>
			<if test="userId != null">  
	        	user_id=#{userId},
	    	</if>
	</set>   
    WHERE id=#{id}
</update>

<delete id="delete">
	delete from post where id=#{id}
</delete>

<select id="getById" resultMap="PostBaseMapper">
	SELECT * FROM post WHERE id=#{id} 
</select>

<select id="countByParm" resultType="integer">
	select count(*) from post  where 1=1 
			<if test="parm.replyToFloor != null">
		     	and reply_to_floor = #{parm.replyToFloor}
		   	</if>
			<if test="parm.threadId != null">
		     	and thread_id = #{parm.threadId}
		   	</if>
			<if test="parm.postContext != null">
		     	and post_context = #{parm.postContext}
		   	</if>
			<if test="parm.replyToUserId != null">
		     	and reply_to_user_id = #{parm.replyToUserId}
		   	</if>
			<if test="parm.postStatus != null">
		     	and post_status = #{parm.postStatus}
		   	</if>
			<if test="parm.postDate != null">
		     	and post_date = #{parm.postDate}
		   	</if>
			<if test="parm.floor != null">
		     	and floor = #{parm.floor}
		   	</if>
			<if test="parm.userId != null">
		     	and user_id = #{parm.userId}
		   	</if>
</select>

<select id="getBeanListByParm" resultMap="PostBaseMapper">
	select * from post where 1=1 
			<if test="parm.replyToFloor != null">
		     	and reply_to_floor = #{parm.replyToFloor}
		   	</if>
			<if test="parm.threadId != null">
		     	and thread_id = #{parm.threadId}
		   	</if>
			<if test="parm.postContext != null">
		     	and post_context = #{parm.postContext}
		   	</if>
			<if test="parm.replyToUserId != null">
		     	and reply_to_user_id = #{parm.replyToUserId}
		   	</if>
			<if test="parm.postStatus != null">
		     	and post_status = #{parm.postStatus}
		   	</if>
			<if test="parm.postDate != null">
		     	and post_date = #{parm.postDate}
		   	</if>
			<if test="parm.floor != null">
		     	and floor = #{parm.floor}
		   	</if>
			<if test="parm.userId != null">
		     	and user_id = #{parm.userId}
		   	</if>
		<if test="parm.orderby != null">
	   		order by ${parm.orderby}
	   	</if>
		<if test="parm.start != null">
			limit #{parm.start},#{parm.limit}
		</if>
</select>


<select id="getMapListByParm" parameterType="HashMap" resultType="HashMap">
	select * from post where 1=1
		<if test="parm.orderby != null">
	   		order by ${parm.orderby}
	   	</if>
		<if test="parm.start != null">
			limit #{parm.start},#{parm.limit}
		</if>
</select>


<select id="getUserMapListByParm" parameterType="HashMap" resultType="HashMap">
	select  p.id as id, p.post_context as context,p.thread_id,p.user_id,p.post_date, p.floor, u.username as name ,u.user_role as role  from post p  
	LEFT JOIN `user` u on
		p.user_id = u.id
	where 1=1
	  <if test="parm.replyToFloor != null">
		     	and p.reply_to_floor = #{parm.replyToFloor}
		   	</if>
			<if test="parm.threadId != null">
		     	and p.thread_id = #{parm.threadId}
		   	</if>
			<if test="parm.postContext != null">
		     	and p.post_context = #{parm.postContext}
		   	</if>
			<if test="parm.replyToUserId != null">
		     	and p.reply_to_user_id = #{parm.replyToUserId}
		   	</if>
			<if test="parm.postStatus != null">
		     	and p.post_status = #{parm.postStatus}
		   	</if>
			<if test="parm.postDate != null">
		     	and p.post_date = #{parm.postDate}
		   	</if>
			<if test="parm.floor != null">
		     	and p.floor = #{parm.floor}
		   	</if>
			<if test="parm.userId != null">
		     	and p.user_id = #{parm.userId}
		   	</if>
		<if test="parm.orderby != null">
	   		order by ${parm.orderby}
	   	</if>
		<if test="parm.start != null">
			limit #{parm.start},#{parm.limit}
		</if>
</select>
<select id="getFloorByParm" parameterType="HashMap" resultType="HashMap">
	select floor from post where 1=1
		<if test="parm.orderby != null">
	   		order by ${parm.orderby}
	   	</if>
	   	<if test="parm.threadId != null">
		     	and p.thread_id = #{parm.threadId}
		 </if>
</select>

</mapper>