<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.sqe.shop.mapper.ShopMapper">

<resultMap type="com.sqe.shop.model.Shop" id="ShopBaseMapper">
	<id property="shelfQualificationImg" column="shelf_qualification_img" />
	<id property="shopLogoImg" column="shop_logo_img" />
	<id property="shopLevel" column="shop_level" />
	<id property="shopRank" column="shop_rank" />
	<id property="shopLicenes" column="shop_licenes" />
	<id property="shopAddress" column="shop_address" />
	<id property="userId" column="user_id" />
	<id property="workTo" column="work_to" />
	<id property="shopLicenesImg" column="shop_licenes_img" />
	<id property="shelfQualificationDesc" column="shelf_qualification_desc" />
	<id property="shopStatus" column="shop_status" />
	<id property="createTime" column="create_time" />
	<id property="workFrom" column="work_from" />
	<id property="shopQualifies" column="shop_qualifies" />
	<id property="shopDescription" column="shop_description" />
	<id property="shopLicenesDesc" column="shop_licenes_desc" />
	<id property="shopImg" column="shop_img" />
	<id property="shopTitle" column="shop_title" />
	<id property="shopPhone" column="shop_phone" />
	<id property="id" column="id" />
	<id property="shopQq" column="shop_qq" />
	<id property="failedReason" column="failed_reason" />
</resultMap>  

<insert id="insert">
	<selectKey resultType="long" keyProperty="id">  
   		select LAST_INSERT_ID()
   	</selectKey>
	insert into shop
	(shelf_qualification_img,shop_logo_img,shop_level,shop_rank,shop_licenes,shop_address,user_id,work_to,shop_licenes_img,shelf_qualification_desc,shop_status,create_time,work_from,shop_qualifies,shop_description,shop_licenes_desc,shop_img,shop_title,shop_phone,shop_qq,failed_reason)
	values
	(#{shelfQualificationImg},#{shopLogoImg},#{shopLevel},#{shopRank},#{shopLicenes},#{shopAddress},#{userId},#{workTo},#{shopLicenesImg},#{shelfQualificationDesc},#{shopStatus},#{createTime},#{workFrom},#{shopQualifies},#{shopDescription},#{shopLicenesDesc},#{shopImg},#{shopTitle},#{shopPhone},#{shopQq},#{failedReason})
</insert>

<update id="update">
	UPDATE shop 
	<set>
			<if test="shelfQualificationImg != null">  
	        	shelf_qualification_img=#{shelfQualificationImg},
	    	</if>
			<if test="shopLogoImg != null">  
	        	shop_logo_img=#{shopLogoImg},
	    	</if>
			<if test="shopLevel != null">  
	        	shop_level=#{shopLevel},
	    	</if>
			<if test="shopRank != null">  
	        	shop_rank=#{shopRank},
	    	</if>
			<if test="shopLicenes != null">  
	        	shop_licenes=#{shopLicenes},
	    	</if>
			<if test="shopAddress != null">  
	        	shop_address=#{shopAddress},
	    	</if>
			<if test="userId != null">  
	        	user_id=#{userId},
	    	</if>
			<if test="workTo != null">  
	        	work_to=#{workTo},
	    	</if>
			<if test="shopLicenesImg != null">  
	        	shop_licenes_img=#{shopLicenesImg},
	    	</if>
			<if test="shelfQualificationDesc != null">  
	        	shelf_qualification_desc=#{shelfQualificationDesc},
	    	</if>
			<if test="shopStatus != null">  
	        	shop_status=#{shopStatus},
	    	</if>
			<if test="createTime != null">  
	        	create_time=#{createTime},
	    	</if>
			<if test="workFrom != null">  
	        	work_from=#{workFrom},
	    	</if>
			<if test="shopQualifies != null">  
	        	shop_qualifies=#{shopQualifies},
	    	</if>
			<if test="shopDescription != null">  
	        	shop_description=#{shopDescription},
	    	</if>
			<if test="shopLicenesDesc != null">  
	        	shop_licenes_desc=#{shopLicenesDesc},
	    	</if>
			<if test="shopImg != null">  
	        	shop_img=#{shopImg},
	    	</if>
			<if test="shopTitle != null">  
	        	shop_title=#{shopTitle},
	    	</if>
			<if test="shopPhone != null">  
	        	shop_phone=#{shopPhone},
	    	</if>
			<if test="shopQq != null">  
	        	shop_qq=#{shopQq},
	    	</if>
	    	<if test="failedReason != null">  
	        	failed_reason=#{failedReason},
	    	</if>
	</set>   
    WHERE id=#{id}
</update>

<delete id="delete">
	delete from shop where id=#{id}
</delete>

<select id="getById" resultMap="ShopBaseMapper">
	SELECT * FROM shop WHERE id=#{id} 
</select>

<select id="getShopByIdAndUserId" resultMap="ShopBaseMapper">
	SELECT * FROM shop WHERE id=#{id} and user_id=#{userId}
</select>

<select id="countByParm" resultType="integer">
	select count(*) from shop  where 1=1 
			<if test="parm.shopLevel != null">
		     	and shop_level = #{parm.shopLevel}
		   	</if>
			<if test="parm.shopRank != null">
		     	and shop_rank = #{parm.shopRank}
		   	</if>
			<if test="parm.shopLicenes != null">
		     	and shop_licenes = #{parm.shopLicenes}
		   	</if>
			<if test="parm.shopAddress != null">
		     	and shop_address = #{parm.shopAddress}
		   	</if>
			<if test="parm.userId != null">
		     	and user_id = #{parm.userId}
		   	</if>
			<if test="parm.workTo != null">
		     	and work_to = #{parm.workTo}
		   	</if>
			<if test="parm.shopStatus != null">
		     	and shop_status = #{parm.shopStatus}
		   	</if>
			<if test="parm.createTime != null">
		     	and create_time = #{parm.createTime}
		   	</if>
			<if test="parm.workFrom != null">
		     	and work_from = #{parm.workFrom}
		   	</if>
			<if test="parm.shopQualifies != null">
		     	and shop_qualifies = #{parm.shopQualifies}
		   	</if>
			<if test="parm.shopDescription != null">
		     	and shop_description = #{parm.shopDescription}
		   	</if>
			<if test="parm.shopPhone != null">
		     	and shop_phone = #{parm.shopPhone}
		   	</if>
			<if test="parm.shopQq != null">
		     	and shop_qq = #{parm.shopQq}
		   	</if>
		   	<if test="parm.shopTitle != null">
		     	and shop_title = #{parm.shopTitle}
		   	</if>
		   	<if test="parm.failedReason != null">  
	        	and failed_reason=#{parm.failedReason}
	    	</if>
</select>

<select id="getBeanListByParm" resultMap="ShopBaseMapper">
	select * from shop where 1=1 
			<if test="parm.shopLevel != null">
		     	and shop_level = #{parm.shopLevel}
		   	</if>
			<if test="parm.shopRank != null">
		     	and shop_rank = #{parm.shopRank}
		   	</if>
			<if test="parm.shopLicenes != null">
		     	and shop_licenes = #{parm.shopLicenes}
		   	</if>
			<if test="parm.shopAddress != null">
		     	and shop_address = #{parm.shopAddress}
		   	</if>
			<if test="parm.userId != null">
		     	and user_id = #{parm.userId}
		   	</if>
			<if test="parm.workTo != null">
		     	and work_to = #{parm.workTo}
		   	</if>
			<if test="parm.shopStatus != null">
		     	and shop_status = #{parm.shopStatus}
		   	</if>
			<if test="parm.createTime != null">
		     	and create_time = #{parm.createTime}
		   	</if>
			<if test="parm.workFrom != null">
		     	and work_from = #{parm.workFrom}
		   	</if>
			<if test="parm.shopQualifies != null">
		     	and shop_qualifies = #{parm.shopQualifies}
		   	</if>
			<if test="parm.shopDescription != null">
		     	and shop_description = #{parm.shopDescription}
		   	</if>
			<if test="parm.shopPhone != null">
		     	and shop_phone = #{parm.shopPhone}
		   	</if>
			<if test="parm.shopQq != null">
		     	and shop_qq = #{parm.shopQq}
		   	</if>
		   	<if test="parm.shopTitle != null">
		     	and shop_title = #{parm.shopTitle}
		   	</if>
		   	<if test="parm.failedReason != null">  
	        	and failed_reason=#{parm.failedReason}
	    	</if>
		<if test="parm.orderby != null">
	   		order by ${parm.orderby}
	   	</if>
		<if test="parm.start != null">
			limit #{parm.start},#{parm.limit}
		</if>
</select>


<select id="getMapListByParm" parameterType="HashMap" resultType="HashMap">
	select s.shop_title as shopTitle, s.shop_description as description,s.shop_rank as shopRank,
	s.shop_level as shopLevel, s.shop_status as shopStatus, u.username as shopOnwer 
	from shop s 
	LEFT JOIN `user` u on s.user_id=u.id
	where 1=1
		<if test="parm.shopLevel != null">
		     	and shop_level = #{parm.shopLevel}
		   	</if>
			<if test="parm.shopRank != null">
		     	and shop_rank = #{parm.shopRank}
		   	</if>
			<if test="parm.shopLicenes != null">
		     	and shop_licenes = #{parm.shopLicenes}
		   	</if>
			<if test="parm.shopAddress != null">
		     	and shop_address = #{parm.shopAddress}
		   	</if>
			<if test="parm.userId != null">
		     	and user_id = #{parm.userId}
		   	</if>
			<if test="parm.workTo != null">
		     	and work_to = #{parm.workTo}
		   	</if>
			<if test="parm.shopStatus != null">
		     	and shop_status = #{parm.shopStatus}
		   	</if>
			<if test="parm.createTime != null">
		     	and create_time = #{parm.createTime}
		   	</if>
			<if test="parm.workFrom != null">
		     	and work_from = #{parm.workFrom}
		   	</if>
			<if test="parm.shopQualifies != null">
		     	and shop_qualifies = #{parm.shopQualifies}
		   	</if>
			<if test="parm.shopDescription != null">
		     	and shop_description = #{parm.shopDescription}
		   	</if>
			<if test="parm.shopPhone != null">
		     	and shop_phone = #{parm.shopPhone}
		   	</if>
			<if test="parm.shopQq != null">
		     	and shop_qq = #{parm.shopQq}
		   	</if>
		   	<if test="parm.shopTitle != null">
		     	and shop_title = #{parm.shopTitle}
		   	</if>
		   	<if test="failedReason != null">  
	        	and failed_reason=#{failedReason}
	    	</if>
		<if test="parm.orderby != null">
	   		order by ${parm.orderby}
	   	</if>
		<if test="parm.start != null">
			limit #{parm.start},#{parm.limit}
		</if>
</select>



</mapper>