<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.sqe.shop.mapper.TopicMapper">

<resultMap type="com.sqe.shop.model.Topic" id="TopicBaseMapper">
	<id property="topicStatus" column="topic_status" />
	<id property="sectionId" column="section_id" />
	<id property="id" column="id" />
	<id property="topicDescription" column="topic_description" />
	<id property="topicTitle" column="topic_title" />
</resultMap>  

<insert id="insert">
	<selectKey resultType="long" keyProperty="id">  
   		select LAST_INSERT_ID()
   	</selectKey>
	insert into topic
	(topic_status,section_id,topic_description,topic_title)
	values
	(#{topicStatus},#{sectionId},#{topicDescription},#{topicTitle})
</insert>

<update id="update">
	UPDATE topic 
	<set>
			<if test="topicStatus != null">  
	        	topic_status=#{topicStatus},
	    	</if>
			<if test="sectionId != null">  
	        	section_id=#{sectionId},
	    	</if>
			<if test="topicDescription != null">  
	        	topic_description=#{topicDescription},
	    	</if>
			<if test="topicTitle != null">  
	        	topic_title=#{topicTitle},
	    	</if>
	</set>   
    WHERE id=#{id}
</update>

<delete id="delete">
	delete from topic where id=#{id}
</delete>

<select id="getById" resultMap="TopicBaseMapper">
	SELECT * FROM topic WHERE id=#{id} 
</select>

<select id="countByParm" resultType="integer">
	select count(*) from topic  where 1=1 
			<if test="parm.topicStatus != null">
		     	and topic_status = #{parm.topicStatus}
		   	</if>
			<if test="parm.sectionId != null">
		     	and section_id = #{parm.sectionId}
		   	</if>
			<if test="parm.topicDescription != null">
		     	and topic_description = #{parm.topicDescription}
		   	</if>
			<if test="parm.topicTitle != null">
		     	and topic_title like "%"#{parm.topicTitle}"%"
		   	</if>
</select>

<select id="getBeanListByParm" resultMap="TopicBaseMapper">
	select * from topic where 1=1 
			<if test="parm.topicStatus != null">
		     	and topic_status = #{parm.topicStatus}
		   	</if>
			<if test="parm.sectionId != null">
		     	and section_id = #{parm.sectionId}
		   	</if>
			<if test="parm.topicDescription != null">
		     	and topic_description = #{parm.topicDescription}
		   	</if>
			<if test="parm.topicTitle != null">
		     	and topic_title like "%"#{parm.topicTitle}"%"
		   	</if>
		<if test="parm.orderby != null">
	   		order by ${parm.orderby}
	   	</if>
		<if test="parm.start != null">
			limit #{parm.start},#{parm.limit}
		</if>
</select>


<select id="getMapListByParm" parameterType="HashMap" resultType="HashMap">
	select t.id,t.topic_title as topicTitle, t.topic_description as topicDescription ,
	s.section_title as sectionTitle,t.topic_status as topicStatus
	from topic t
	LEFT JOIN section s on t.section_id = s.id and s.section_type=1
	where 1=1
	<if test="parm.topicStatus != null">
     	and t.topic_status = #{parm.topicStatus}
   	</if>
	<if test="parm.sectionId != null">
     	and t.section_id = #{parm.sectionId}
   	</if>
   	<if test="parm.topicTitle != null">
     	and t.topic_title like "%"#{parm.topicTitle}"%"
   	</if>
	<if test="parm.orderby != null">
   		order by ${parm.orderby}
   	</if>
	<if test="parm.start != null">
		limit #{parm.start},#{parm.limit}
	</if>
</select>




</mapper>