<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.sqe.shop.mapper.TProductMapper">

<resultMap type="com.sqe.shop.model.TProduct" id="TProductBaseMapper">
	<id property="note" column="note" />
	<id property="code" column="code" />
	<id property="inputuserId" column="inputUser_id" />
	<id property="updateTime" column="update_time" />
	<id property="title" column="title" />
	<id property="point" column="point" />
	<id property="masterpicId" column="masterPic_id" />
	<id property="picUrl" column="pic_url" />
	<id property="createTime" column="create_time" />
	<id property="model" column="model" />
	<id property="id" column="id" />
	<id property="stock" column="stock" />
</resultMap>  

<insert id="insert">
	<selectKey resultType="long" keyProperty="id">  
   		select LAST_INSERT_ID()
   	</selectKey>
	insert into t_product
	(note,code,inputUser_id,update_time,title,point,masterPic_id,pic_url,create_time,model,stock)
	values
	(#{note},#{code},#{inputuserId},#{updateTime},#{title},#{point},#{masterpicId},#{picUrl},
	#{createTime},#{model},#{stock})
</insert>

<update id="update">
	UPDATE t_product 
	<set>
		<if test="note != null">  
        	note=note
    	</if>
		<if test="code != null">  
        	code=code
    	</if>
		<if test="inputuserId != null">  
        	inputUser_id=inputuserId
    	</if>
		<if test="updateTime != null">  
        	update_time=updateTime
    	</if>
		<if test="title != null">  
        	title=title
    	</if>
		<if test="point != null">  
        	point=point
    	</if>
		<if test="masterpicId != null">  
        	masterPic_id=masterpicId
    	</if>
		<if test="picUrl != null">  
        	pic_url=picUrl
    	</if>
		<if test="createTime != null">  
        	create_time=createTime
    	</if>
		<if test="model != null">  
        	model=model
    	</if>
		<if test="stock != null">  
        	stock=stock
    	</if>
	</set>   
    WHERE id=#{id}
</update>

<delete id="delete">
	delete from t_product where id=#{id}
</delete>

<select id="getById" resultMap="TProductBaseMapper">
	SELECT * FROM t_product WHERE id=#{id} 
</select>

<select id="countByParm" resultType="integer">
	select count(*) from t_product  where 1=1 
		<if test="parm.note != null">
	     	and note = #{parm.note}
	   	</if>
		<if test="parm.code != null">
	     	and code = #{parm.code}
	   	</if>
		<if test="parm.inputuserId != null">
	     	and inputUser_id = #{parm.inputuserId}
	   	</if>
		<if test="parm.updateTime != null">
	     	and update_time = #{parm.updateTime}
	   	</if>
		<if test="parm.title != null">
	     	and title = #{parm.title}
	   	</if>
		<if test="parm.point != null">
	     	and point = #{parm.point}
	   	</if>
		<if test="parm.masterpicId != null">
	     	and masterPic_id = #{parm.masterpicId}
	   	</if>
		<if test="parm.picUrl != null">
	     	and pic_url = #{parm.picUrl}
	   	</if>
		<if test="parm.createTime != null">
	     	and create_time = #{parm.createTime}
	   	</if>
		<if test="parm.model != null">
	     	and model = #{parm.model}
	   	</if>
		<if test="parm.stock != null">
	     	and stock = #{parm.stock}
	   	</if>
</select>

<select id="getBeanListByParm" resultMap="TProductBaseMapper">
	select * from t_product where 1=1 
		<if test="parm.note != null">
	     	and note = #{parm.note}
	   	</if>
		<if test="parm.code != null">
	     	and code = #{parm.code}
	   	</if>
		<if test="parm.inputuserId != null">
	     	and inputUser_id = #{parm.inputuserId}
	   	</if>
		<if test="parm.updateTime != null">
	     	and update_time = #{parm.updateTime}
	   	</if>
		<if test="parm.title != null">
	     	and title = #{parm.title}
	   	</if>
		<if test="parm.point != null">
	     	and point = #{parm.point}
	   	</if>
		<if test="parm.masterpicId != null">
	     	and masterPic_id = #{parm.masterpicId}
	   	</if>
		<if test="parm.picUrl != null">
	     	and pic_url = #{parm.picUrl}
	   	</if>
		<if test="parm.createTime != null">
	     	and create_time = #{parm.createTime}
	   	</if>
		<if test="parm.model != null">
	     	and model = #{parm.model}
	   	</if>
		<if test="parm.stock != null">
	     	and stock = #{parm.stock}
	   	</if>
</select>


<select id="getMapListByParm" parameterType="HashMap" resultType="HashMap">
	select * from TProduct where 1=1 
</select>


</mapper>