@charset "utf-8";
html,body,div,p,ul,ol,li,a,table,tr,td,textarea,form,input,img,header,footer,section{padding:0;margin:0;font-style:normal;}
body,input,textarea{font-size:16px;}
body{color:#333;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
b,i,em{font-style:normal;font-weight:normal;}
img{border:none;}
ul,ol,li{list-style:none;}
h1,h2,h3,h4{margin:0;padding:0;font-size:1em;font-weight:normal;}
/*通用样式*/
.m{min-width:240px;margin:0 auto;}
.l{float:left;}
.r{float:right;}
.c{height:0px;overflow:hidden;clear:both;}
.tR{text-align:right;}
.hid{display:none;}
.f24{font-size:14px;}
.jiazai{padding-top:10px;}

/*header*/
.ch{position:fixed;top:0;width:100%;height:40px;background:#45a8e7;z-index:100;}
.ch .tit{line-height: 40px;text-align:center;color:#265788;}
.ch .logo{position:absolute;top:0;left:1%;width:32px;height:40px;background:url(img_d/head.png) no-repeat -240px 0;background-size:272px 160px;}
.ch .index_logo{width:100px;background-position:0 -120px;}
.haslog, .nolog{position:absolute;top:0;right:2%;height:100%;}
.ch + .m, #main{padding-top:40px;}
/*hasn't log*/
.nolog{line-height:40px;}
.nolog, .nolog a{color:#fff;}
.nolog a{}
/*has log*/
.haslog .send, .haslog .msg, .haslog .more,.haslog .hreply{float:right;width:40px;height:100%;margin: 0 0 0 0;background:url(img_d/head.png) no-repeat;background-size:272px 160px;}
.haslog .send{background-position: 8px 0;}
.haslog .msg{position:relative;color:#fff;background-position: -55px 0;}
.haslog .msg:hover{text-decoration:none;}
.haslog .more{background-position: -115px 0;}
.haslog .hreply{background-position: -175px 0;}
.haslog .bal{
	position:absolute;top:0;left: 24px;
	min-width:1em;text-align:center;
	padding:0;border:2px solid #fff;
	font-size: 12px;
	background:#f63;
	border-radius: 1em;-webkit-border-radius:3em;-moz-border-radius:3em;-o-border-radius:3em;
}
.haslog .on{background-color:#2a79ac;}
/*常用按钮*/
.bb,.gb,.wb,.orb,.grb{
	border:1px solid;color:#fff;cursor:pointer;text-align:center;
	border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px;
}
.bb:hover,.gb:hover,.wb:hover,.orb:hover,.grb:hover{text-decoration:none;}
.bb{border-color:#1e8ce6;background-color:#40abff;background-image:-webkit-gradient(linear,0% 0%,0% 100%, from(#40abff),to(#1e8ce6),color-stop(1, #1e8ce6));}
.gb{border-color:#369c25;background-color:#43cd2d;background-image:-webkit-gradient(linear,0% 0%,0% 100%, from(#43cd2d),to(#33b31d),color-stop(1, #33b31d));}
.wb{color:#333;border-color:#ccc;background-color:#fff;background-image:-webkit-gradient(linear,0% 0%,0% 100%, from(#fff),to(#eee),color-stop(1, #eee));}
.orb{border-color:#f90;background-image:-webkit-gradient(linear,0% 0%,0% 100%, from(#ffaf32),to(#ff9601),color-stop(1, #ff9601));}
.grb{border-color:#999;background-color:#ababab;background-image:-webkit-gradient(linear,0% 0%,0% 100%, from(#ababab),to(#a0a0a0),color-stop(1, #a0a0a0));}
.changeb,.loginb,.regb{padding: 5px 0;}
.changeb{display:block;width:96%;margin:0 auto;}
.loginb,.regb{float:left;width:47%;margin:0 0 0 2%;}
/*圈子*/
.qlist{overflow:hidden;padding:5px 2% 10px 2%;border-bottom:1px solid #ccc;}
.qlist li{float:left;width:50%;box-sizing:border-box;}
.qlash{border:none;}
.qb{display:block;position:relative;overflow:hidden;min-height:30px;margin:5px;padding:5px 0;font-size:14px;color:#369;text-align:center;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;box-sizing: border-box;}
.qb .qz{position:absolute;top:-1px;right:-1px;width:30px;height:30px;background:url(img_s/qz.png) no-repeat 0 0;background-size:30px 30px;
}
/*tab*/
.tab{
	float:left;
	height: 30px;
	line-height: 30px;padding:0 .6em;
	color:#333;background:#dfdfdf;
}
.tab:hover, .tab_on{color:#fff;text-decoration:none;background:#45a8e7 url(tab.png) no-repeat 50% 100%;}
/*灰色标题*/
.h2{background:#eee;padding:0 2%;}
.h2{height:1.5rem;line-height:1.5rem;font-size:1rem}
.h2 .more{float:right;color:#369;}
.h2 .txt, .h2 img, .h2 .more, .h2 .rtx{vertical-align:middle;}
.h2 .more{text-decoration:none;}
.h2 .more {
    background: #f1f1f1;
    font-size: 16px;
    color: #024375;
    text-align: center;
}
.h2 .refresh{padding-left:22px;background:url(img_d/common.png) no-repeat -190px -74px;background-size:210px 99px;}
/*前缀图标*/
.h2 .ico{display:inline-block;height:100%;padding-left:30px;background:url(../images/iFace.png) no-repeat;background-size:26px auto;vertical-align:baseline;}
.h2 .ico_qztj{background-position:0 -76px;}
.h2 .ico_jctj{background-position:0 -116px;}
.h2 .ico_wdqq{background-position:0 4px;}
.h2 .ico_gdqz{background-position:0 -38px;}
/*列表*/
.list{color:#999;}
.list li{padding: 10px 2%;border-bottom:1px solid #ccc;box-sizing:border-box;}
.list img, .list{margin-right:2px;vertical-align:middle;}

.list .t, .list .at, .list .jh, .list .huo, .list .vote{display:inline-block;padding: 2px 5px;color:#fff;text-align:center;font-size: 12px;vertical-align:middle;}
.list .t{background:#f63;}
.list .at{background:#093;}
.list .jh, .list .huo{width:18px;height:18px;padding:0;line-height:18px;}
.list .jh{background:#93c;}
.list .huo{background:#f33;}
.list .vote{padding: 0;width: 16px;height: 17px;background: url(img_s/vote.png) no-repeat 0 1px;background-size: 16px 16px;}

.list .tR{clear:both;font-size:12px;padding-top: 5px;}
.list .tx{color:#369;vertical-align:middle;}

.list .qq,.list .rp,.list .tm,.list .sd{display:inline-block;height:18px;padding-left:16px;color:#999;vertical-align:middle;background:url(../images/common.png) no-repeat;background-size:210px 99px;}
.list .qq{background-position:-195px -39px;}
.list .rp{background-position:-195px -19px;}
.list .tm{background-position:-195px 1px;}
.list .tm a{color:#666;}
.list .sd{background-position:-195px -59px;}
/*-- 翻页 --*/
.page-toolbar{
	margin:2rem auto;
}
.page-toolbar .page-pagination{
  width: 100%;
  font-size: 0;
  text-align:center;
}
.page-toolbar .page-pagination li{
  width:1.75rem;
  height:1.75rem;
  text-align: center;
  line-height: 1.75rem;
  border:1px solid #e0e0e0;
  display: inline-block;
  background: #fff;
  color: #333;
  cursor: pointer;
  font-size: 0.875rem;
  margin-right: 0.25rem;
}
.page-toolbar .page-pagination li:last-child{
  margin-right: 0.25rem;
}
.page-toolbar .page-pagination li.active{
  background-color: #f45a40;
  color: #fff;
}
/*-- 首页 --*/
.page-toolbar .page-pagination li.first-page{
  width: 4.375rem;
  border-radius: 0.25rem 0 0 0.25rem;
  padding-left: 0.6rem;
}
/*-- 上一页 --*/
.page-toolbar .page-pagination li.previous-page{
  width: 4.375rem;
  border-radius: 0 0.25rem  0.25rem  0;
  padding-left: 0.6rem;
}
/*-- 下一页 --*/
.page-toolbar .page-pagination li.next-page{
  width: 4.375rem;
  border-radius: 0 0.25rem  0.25rem  0;
  padding-right: 0.6rem;
}
/*-- 省略 --*/
.page-toolbar .page-pagination li.omit{
  width: 3.25rem;
}
/*-- 跳转 --*/
.page-toolbar .page-pagination li.skip{
  width:6.25rem;
  background: #fff;
  color: #333;
}
.page-toolbar .page-pagination li.skip input{
  width:1.875rem;
  height:80%;
}
.page-toolbar .page-pagination li:hover{
  background-color: #f45a40;
  color:#fff;
}
.page-toolbar .page-pagination li.skip:hover{
  background: #fff;
  color: #333;
  cursor: auto;
}

.sk-circle {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative; }
  .sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
  .sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
            animation: sk-circleBounceDelay 1.2s infinite ease-in-out both; }
  .sk-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg); }
  .sk-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg); }
  .sk-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
  .sk-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg); }
  .sk-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg); }
  .sk-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .sk-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
            transform: rotate(210deg); }
  .sk-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg); }
  .sk-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg); }
  .sk-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg); }
  .sk-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
            transform: rotate(330deg); }
  .sk-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; }
  .sk-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; }
  .sk-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; }
  .sk-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; }
  .sk-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s; }
  .sk-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; }
  .sk-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; }
  .sk-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s; }
  .sk-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s; }
  .sk-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s; }
  .sk-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
