<!-- menu -->
<div class="menu">
	<h2 class="title">关于商家</h2>
	<ul class="menu_box">
		<li class="menu_list">
			<p>
				<i class="bgImg bgImg1"></i>
				<span class="menu_list_title">产品管理</span>
			</p>
			<div class="module">
				<p>产品上传</p>
				<p>产品列表</p>
				<p>产品留言</p>
			</div>
		</li>
		<li class="menu_list">
			<p>
				<i class="bgImg bgImg2"></i>
				<span class="menu_list_title">商家中心</span>
			</p>
			<div class="module">
				<p>商家介绍</p>
				<p>商家信息</p>
			</div>
		</li>
		<li class="menu_list">
			<p>
				<i class="bgImg bgImg3"></i>
				<span class="menu_list_title">商家资料</span>
			</p>
			<div class="module">
				<p>营业执照</p>
				<p>商家资质</p>
			</div>
		</li>
		<li class="menu_list">
			<p>
				<i class="bgImg bgImg4"></i>
				<span class="menu_list_title">论坛</span>
			</p>
			<div class="module">
				<p>发帖回复</p>
			</div>
		</li>
	</ul>
</div>
<!-- //menu -->