<!DOCTYPE html>
<html><head>
<title>发帖回复</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="Biruang Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- css -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<!--// css -->
<script src="js/jquery.min.js"></script>
<!-- dropdown -->
<script src="js/jquery.easydropdown.js"></script>
<link href="css/nav.css" rel="stylesheet" type="text/css" media="all">
<link href="css/posted_reply.css" rel="stylesheet" type="text/css">
<script src="js/scripts.js"></script>
<script src="js/common.js"></script>

</head>
<body>
	<!-- header -->
	<div class="header">
		<!-- container -->
		<div class="container">
			<!-- header-top -->
			<div class="header-top">
				<div class="header-logo">
					<a href="index.html"><img src="images/logo.png" alt="" /></a>
				</div>
				<div class="header-right">
					<ul>
						<li class="phone">+371 282 20 760</li>
						<li class="mail"><a href="mailto:example@mail.com">eony321v@gmail.com</a></li>
						<li class="checkout">
						<input type="text" value="Search..." onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Search...';}" required="">
							<div class="shopping">
								<h5>Your Shopping Cart is empty.</h5>
								<p>Give it purpose—fill it with books, movies, mobiles, cameras, toys and fashion jewellery.</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //header -->
	<!-- main -->
	<div class="main">
		<!-- container -->
		<div class="container">
			<!-- menu -->
			<div class="menu">
				<h2 class="title">关于商家</h2>
				<ul class="menu_box">
					<li class="menu_list">
						<p>
							<i class="bgImg bgImg1"></i>
							<span class="menu_list_title">产品管理</span>
						</p>
						<div class="module">
							<p>产品上传</p>
							<p>产品列表</p>
							<p>产品留言</p>
						</div>
					</li>
					<li class="menu_list">
						<p>
							<i class="bgImg bgImg2"></i>
							<span class="menu_list_title">商家中心</span>
						</p>
						<div class="module">
							<p>商家介绍</p>
							<p>商家信息</p>
						</div>
					</li>
					<li class="menu_list">
						<p>
							<i class="bgImg bgImg3"></i>
							<span class="menu_list_title">商家资料</span>
						</p>
						<div class="module">
							<p>营业执照</p>
							<p>商家资质</p>
						</div>
					</li>
					<li class="menu_list">
						<p>
							<i class="bgImg bgImg4"></i>
							<span class="menu_list_title">论坛</span>
						</p>
						<div class="module">
							<p>发帖回复</p>
						</div>
					</li>
				</ul>
			</div>
			<!-- //menu -->
			<!-- companyData -->
			<div class="companyData">
				<div class="header"><span>论坛 >  发帖回复</span></div>
				<div class="product_message">
					<div  class="ulbox">
						<div class="g-tabWrap">
							<div class="g-tabHdWrap">
								<ul class="g-tabHd">
									<li class="f-active"><span>我的帖子</span></li>
								</ul>
							</div>
							<div class="g-tabMn">
								<ul class="g-tabMnItem f-active">
									<li>
										<div class="invitation">
											<span>在</span>
											<span class="red">奥奇传说圈</span>
											<span>发帖</span>
											<span class="red">大豆真的可以美容吗？</span>
											<span>回复（7）</span>
										</div>
										<div class="time">
											<span>2016-06-27 17:55</span>
										</div>
									</li>
									<li>
										<div class="invitation">
											<span>在</span>
											<span class="red">奥奇传说圈</span>
											<span>发帖</span>
											<span class="red">大豆真的可以美容吗？</span>
											<span>回复（7）</span>
										</div>
										<div class="time">
											<span>2016-06-27 17:55</span>
										</div>
									</li>
									<li>
										<div class="invitation">
											<span>在</span>
											<span class="red">奥奇传说圈</span>
											<span>发帖</span>
											<span class="red">大豆真的可以美容吗？</span>
											<span>回复（7）</span>
										</div>
										<div class="time">
											<span>2016-06-27 17:55</span>
										</div>
									</li>
									<li>
										<div class="invitation">
											<span>在</span>
											<span class="red">奥奇传说圈</span>
											<span>发帖</span>
											<span class="red">大豆真的可以美容吗？</span>
											<span>回复（7）</span>
										</div>
										<div class="time">
											<span>2016-06-27 17:55</span>
										</div>
									</li>
									<li>
										<div class="invitation">
											<span>在</span>
											<span class="red">奥奇传说圈</span>
											<span>发帖</span>
											<span class="red">大豆真的可以美容吗？</span>
											<span>回复（7）</span>
										</div>
										<div class="time">
											<span>2016-06-27 17:55</span>
										</div>
									</li>
									<li>
										<div class="invitation">
											<span>在</span>
											<span class="red">奥奇传说圈</span>
											<span>发帖</span>
											<span class="red">大豆真的可以美容吗？</span>
											<span>回复（7）</span>
										</div>
										<div class="time">
											<span>2016-06-27 17:55</span>
										</div>
									</li>
									<li>
										<div class="invitation">
											<span>在</span>
											<span class="red">奥奇传说圈</span>
											<span>发帖</span>
											<span class="red">大豆真的可以美容吗？</span>
											<span>回复（7）</span>
										</div>
										<div class="time">
											<span>2016-06-27 17:55</span>
										</div>
									</li>
									<li>
										<div class="invitation">
											<span>在</span>
											<span class="red">奥奇传说圈</span>
											<span>发帖</span>
											<span class="red">大豆真的可以美容吗？</span>
											<span>回复（7）</span>
										</div>
										<div class="time">
											<span>2016-06-27 17:55</span>
										</div>
									</li>
									<li>
										<div class="invitation">
											<span>在</span>
											<span class="red">奥奇传说圈</span>
											<span>发帖</span>
											<span class="red">大豆真的可以美容吗？</span>
											<span>回复（7）</span>
										</div>
										<div class="time">
											<span>2016-06-27 17:55</span>
										</div>
									</li>
									<li>
										<div class="invitation">
											<span>在</span>
											<span class="red">奥奇传说圈</span>
											<span>发帖</span>
											<span class="red">大豆真的可以美容吗？</span>
											<span>回复（7）</span>
										</div>
										<div class="time">
											<span>2016-06-27 17:55</span>
										</div>
									</li>
									<li>
										<div class="invitation">
											<span>在</span>
											<span class="red">奥奇传说圈</span>
											<span>发帖</span>
											<span class="red">大豆真的可以美容吗？</span>
											<span>回复（7）</span>
										</div>
										<div class="time">
											<span>2016-06-27 17:55</span>
										</div>
									</li>
									<li>
										<div class="invitation">
											<span>在</span>
											<span class="red">奥奇传说圈</span>
											<span>发帖</span>
											<span class="red">大豆真的可以美容吗？</span>
											<span>回复（7）</span>
										</div>
										<div class="time">
											<span>2016-06-27 17:55</span>
										</div>
									</li>
									<li>
										<div class="invitation">
											<span>在</span>
											<span class="red">奥奇传说圈</span>
											<span>发帖</span>
											<span class="red">大豆真的可以美容吗？</span>
											<span>回复（7）</span>
										</div>
										<div class="time">
											<span>2016-06-27 17:55</span>
										</div>
									</li>
									<li>
										<div class="invitation">
											<span>在</span>
											<span class="red">奥奇传说圈</span>
											<span>发帖</span>
											<span class="red">大豆真的可以美容吗？</span>
											<span>回复（7）</span>
										</div>
										<div class="time">
											<span>2016-06-27 17:55</span>
										</div>
									</li>
									<li>
										<div class="invitation">
											<span>在</span>
											<span class="red">奥奇传说圈</span>
											<span>发帖</span>
											<span class="red">大豆真的可以美容吗？</span>
											<span>回复（7）</span>
										</div>
										<div class="time">
											<span>2016-06-27 17:55</span>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="page-toolbar">
						<div class="ajax-page">
							<ul class="page-pagination">
								<li class="first-page">
									<span>首页</span>
								</li>
								<li class="previous-page">
									<span>上一页</span>
								</li>
								<li class="active">
									<span>1</span>
								</li>
								<li>
									<span>2</span>
								</li>
								<li>
									<span>3</span>
								</li>
								<li>
									<span>4</span>
								</li>
								<li>
									<span>5</span>
								</li>
								<li>
									<span>6</span>
								</li>
								<li>
									<span>7</span>
								</li>
								<li>
									<span>8</span>
								</li>
								<li>
									<span>9</span>
								</li>
								<li>
									<span>10</span>
								</li>
								<li class="omit">
									<span><i>...</i>15</span>
								</li>
								<li class="skip">
									<input type="text" value="1">/
									<span>15</span>页
								</li>
								<li class="next-page">
									<span>下一页</span>
								</li>
							</ul>
						</div>
					</div>
				</div>


			</div>
		</div>
			<!-- //companyData -->
	</div>
	<!-- //main -->
	<!-- footer -->
	<div class="footer">
		<!-- container -->
		<div class="container">
			<div class="col-md-3 stores-grid">
				<div class="stores">
					<h3>Our Stores</h3>
					<ul>
						<li>Feel free to visit our stores or contact us.</li>
						<li>1401 South Grand Avenue </li>
						<li>Los Angeles, CA 90015 </li>
						<li>(213) 748-2411</li>

						<span>
						<li class="drive">100 Fairview Drive </li>
						<li>Franklin, VA 23851</li> 
						<li>(757) 569-6100 </li>
						</span>
					</ul>
				</div>
				<div class="social-icons white-icons">
					<ul>
						<li><a href="#" class="facebook"></a></li>
						<li><a href="#" class="twitter"></a></li>
						<li><a href="#" class="chrome"></a></li>
						<li><a href="#" class="vimeo"></a></li>
						<li><a href="#" class="rss"></a></li>
				</div>
			</div>
			<div class="col-md-3 blog">
				<h3>Blog posts</h3>
				<a href="#">Justin Bieber confirmed that he is gay.</a>
				<p>Lorem ipsum dolor sit amet, consectetur
					adipiscing elit. Donec sed auctor elit.
				</p>
				<a href="#">New sexy sport clothes are here!</a>
				<p>Lorem ipsum dolor sit amet, consectetur
					adipiscing elit. Donec sed auctor elit.
				</p>
				<a href="#">Summer sales are coming!</a>
				<p>Lorem ipsum dolor sit amet, consectetur
					adipiscing elit. Donec sed auctor elit.
				</p>
			</div>
			<div class="col-md-3 support">
				<h3>Support</h3>
				<div class="support-grids">
					<div class="support-left">
						<ul>
							<li><a href="#">Terms & Conditions</a></li>
							<li><a href="#">FAQ</a></li>
							<li><a href="#">Payment</a></li>
							<li><a href="#">Refunds</a></li>
							<li><a href="#">Track Order</a></li>
							<li><a href="#">Services</a></li>
							<li><a href="#">Privacy & Security</a></li>
							<li><a href="#">Careers</a></li>
							<li><a href="#">Press</a></li>
							<li><a href="#">Corporate Information</a></li>
						</ul>
					</div>
					<div class="support-left support-right">
						<ul>
							<li><a href="#">Sizing</a></li>
							<li><a href="#">Ordering</a></li>
							<li><a href="#">Shipping</a></li>
							<li><a href="#">Return Policy</a></li>
							<li><a href="#">Affiliates</a></li>
							<li><a href="#">Find A Store </a></li>
							<li><a href="#">Site Map</a></li>
							<li><a href="#">Sign Up & Save</a></li>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-3 contact">
				<h3>Contact us</h3>
				<form>
					<input type="text" value="your e-mail..." onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'your e-mail...';}" required="">
					<textarea value="your text...:" onFocus="if(this.value == 'your text...') this.value='';" onBlur="if(this.value == '') this.value='your text...';">your text...</textarea>
					<input type="submit" value="Send MESSAGE">
				</form>
			</div>
			<div class="clearfix"> </div>
			<div class="copyright">
				<p>Copyright &copy; 2015.Company name All rights reserved.<a target="_blank" href="http://www.cssmoban.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a> - More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a></p>
			</p>
		</div>
		<!-- // container -->
	</div>
	<!-- //footer -->
</body>

</html>