<!DOCTYPE html>
<html><head>
<title>产品详情</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="Biruang Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- css -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<!--// css -->
<script src="js/jquery.min.js"></script>
<!-- dropdown -->
<script src="js/jquery.easydropdown.js"></script>
<link href="css/nav.css" rel="stylesheet" type="text/css" media="all">
<link href="css/product_details.css" rel="stylesheet" type="text/css">
<script src="js/scripts.js"></script>
<script src="js/common.js"></script>
</head>
<body>
	<!-- alertView -->
	<section id="alertView" class='markbg alertToggle' onclick="hideBigImg()">
            <div class="popup">
                 <img id="bigImgC" src="images/img1001.jpg">
            </div>
     </section>
	<!-- header -->
	<div class="header">
		<!-- container -->
		<div class="container">
			<!-- header-top -->
			<div class="header-top">
				<div class="header-logo">
					<a href="index.html"><img src="images/logo.png" alt="" /></a>
				</div>
				<div class="header-right">
					<ul>
						<li class="phone">+371 282 20 760</li>
						<li class="mail"><a href="mailto:example@mail.com">eony321v@gmail.com</a></li>
						<li class="checkout">
						<input type="text" value="Search..." onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Search...';}" required="">
							<div class="shopping">
								<h5>Your Shopping Cart is empty.</h5>
								<p>Give it purpose—fill it with books, movies, mobiles, cameras, toys and fashion jewellery.</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //header -->
	<!-- main -->
	<div class="main">
		<!-- container -->
		<div class="container">
			<!-- menu -->
			<div class="menu">
				<h2 class="title">关于商家</h2>
				<ul class="menu_box">
					<li class="menu_list">
						<p>
							<i class="bgImg bgImg1"></i>
							<span class="menu_list_title">产品管理</span>
						</p>
						<div class="module">
							<p>产品上传</p>
							<p>产品列表</p>
							<p>产品留言</p>
						</div>
					</li>
					<li class="menu_list">
						<p>
							<i class="bgImg bgImg2"></i>
							<span class="menu_list_title">商家中心</span>
						</p>
						<div class="module">
							<p>商家介绍</p>
							<p>商家信息</p>
						</div>
					</li>
					<li class="menu_list">
						<p>
							<i class="bgImg bgImg3"></i>
							<span class="menu_list_title">商家资料</span>
						</p>
						<div class="module">
							<p>营业执照</p>
							<p>商家资质</p>
						</div>
					</li>
					<li class="menu_list">
						<p>
							<i class="bgImg bgImg4"></i>
							<span class="menu_list_title">论坛</span>
						</p>
						<div class="module">
							<p>发帖回复</p>
						</div>
					</li>
				</ul>
			</div>
			<!-- //menu -->
			<!-- companyData -->
			<div class="companyData">
				<div class="header"><span>产品管理 >  全部产品 >  产品详情</span></div>
				<div class="product_message">
					<div class="g-tabWrap">
						<div class="g-tabHdWrap">
							<ul class="g-tabHd">
								<li class="f-active"><span>基本信息</span></li>
							</ul>
						</div>
						<div class="g-tabMn">
							<div class="g-tabMnItem f-active">
								<div class="basic">
									<div class="classify">
										<div class="row">
											<div class="col-xs-6 col-md-6 commodity_terrace"><!-- 商品分类 -->
												<div class="m-form-item">
													<label class="m-form-hd">
														<span class="u-hd-require">*</span>
														<span class="u-hd-txt">商品分类(平台):</span>
													</label>
													<div class="exhibition">
														<span>一级类别</span>
														<span>二级类别</span>
													</div>
												</div>
											</div>
										    <div class="col-xs-6 col-md-6 brand"><!-- 品牌 -->
												<div class="m-form-item">
													<label class="m-form-hd">
														<span class="u-hd-require"></span>
														<span class="u-hd-txt">品牌:</span>
													</label>
													<div class="exhibition">
														<span>Soy Beans 大豆</span>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
										    <div class="col-xs-6 col-md-12 commodity_store"><!-- 商品分类 -->
												<div class="m-form-item">
													<label class="m-form-hd">
														<span class="u-hd-require">*</span>
														<span class="u-hd-txt">当前状态：</span>
													</label>
													<div class="exhibition">
														<span class="red">审核中</span>
													</div>
												</div>
										    </div>
										</div>
									</div>
									<div class="message">
										<div class="row">
										  <div class="col-xs-6 col-md-6">
										  	<div class="m-form-item">
												<label class="m-form-hd">
													<span class="u-hd-require">*</span>
													<span class="u-hd-txt">商品名称:</span>
												</label>
												<span class="u-text">Soy Beans 大豆</span>
											</div>
										  </div>
										  <div class="col-xs-6 col-md-6">
										  	<div class="m-form-item">
												<label class="m-form-hd">
													<span class="u-hd-require"></span>
													<span class="u-hd-txt">副标题:</span>
												</label>
												<span class="u-text">Soy Beans 大豆</span>
											</div>
										  </div>
										</div>
										<div class="row">
										  <div class="col-xs-6 col-md-6">
												<div class="m-form-item">
													<label class="m-form-hd">
														<span class="u-hd-require">*</span>
														<span class="u-hd-txt">xxxx:</span>
													</label>
													<span class="u-text">xxxxxxxxxxxxx</span>
												</div>
										  </div>
										  <div class="col-xs-6 col-md-6">
												<div class="m-form-item">
													<label class="m-form-hd">
														<span class="u-hd-require">*</span>
														<span class="u-hd-txt">xxxx:</span>
													</label>
													<span class="u-text">xxxxxxxxxxxxx</span>
												</div>
										  </div>
										</div>
										<div class="row">
										  <div class="col-xs-6 col-md-6">
												<div class="m-form-item">
													<label class="m-form-hd">
														<span class="u-hd-require">*</span>
														<span class="u-hd-txt">xxxx:</span>
													</label>
													<span class="u-text">xxxxxxxxxxxxx</span>
												</div>
										  </div>
										  <div class="col-xs-6 col-md-6">
												<div class="m-form-item">
													<label class="m-form-hd">
														<span class="u-hd-require">*</span>
														<span class="u-hd-txt">xxxx:</span>
													</label>
													<span class="u-text">xxxxxxxxxxxxx</span>
												</div>
										  </div>
										</div>
										<div class="row">
										  <div class="col-xs-6 col-md-6">
											<div class="m-form-item">
												<label class="m-form-hd">
													<span class="u-hd-require"></span>
													<span class="u-hd-txt">标签:</span>
												</label>
												<span class="u-text">新品</span>
											</div>
										  </div>
										  <div class="col-xs-6 col-md-6">
												<div class="m-form-item">
													<label class="m-form-hd">
														<span class="u-hd-require"></span>
														<span class="u-hd-txt">建议价:</span>
													</label>
													<span class="u-text">4＄/25kg</span>
												</div>
										  </div>
										</div>
									</div>
								</div>
								<div class="img_describe">
									<div class="heade">图片与描述</div>
									<div class="imgDescribe">
										<div class="show_img">
											<span class="labe">展示图片：</span>
											<div class="upimg">
												<img src="images/img1001.jpg" onClick="showBigImg(this)">
											</div>
										</div>
										<div class="photo_album">
											<span class="labe">相册：</span>
											<div class="upimg">
												<img src="images/img1001.jpg" onClick="showBigImg(this)">
											</div>
											<div class="upimg">
												<img src="images/img1001.jpg" onClick="showBigImg(this)">
											</div>
											<div class="upimg">
												<img src="images/img1001.jpg" onClick="showBigImg(this)">
											</div>
											<div class="upimg">
												<img src="images/img1001.jpg" onClick="showBigImg(this)">
											</div>
											<div class="upimg">
												<img src="images/img1001.jpg" onClick="showBigImg(this)">
											</div>
										</div>
										<div class="product_description">
											<span class="labe">商品描述：</span>
											<div class="text_editing">
												<span class="test">加拿大地广人稀，且高度注重土壤的复育与生态平衡。拥有全世界最乾淨的土壤，因而能生产出最高品质的黄豆，将农残留物的疑虑减至最低。安大略省与魁北克省南部沿着圣劳伦斯河与休伦湖、伊利湖及安大略湖间的地区，是世界大穀仓之一，也是加拿大黄豆的最主要产区。此区土壤肥沃，不需大量施肥。天然、零污染的土壤生长环境，纯淨的水源，再加上政府对环境的永续经营与严格的食品安全管制，在在是加拿大黄豆最佳的品质保证。除了优良环境以为， 加拿大黄豆最佳的品质还来自于复杂而精心的品种培育，生产，加工，运输和食品安全体系。</span>
											</div>
										</div>
									</div>
								</div>
								<div class="button"></div>
							</div>
							<div class="g-tabMnItem">
								属性选择的内容
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //companyData -->
		</div>
		<!-- //container -->
	</div>
	<!-- //main -->
	<!-- footer -->
	<div class="footer">
		<!-- container -->
		<div class="container">
			<div class="col-md-3 stores-grid">
				<div class="stores">
					<h3>Our Stores</h3>
					<ul>
						<li>Feel free to visit our stores or contact us.</li>
						<li>1401 South Grand Avenue </li>
						<li>Los Angeles, CA 90015 </li>
						<li>(213) 748-2411</li>

						<span>
						<li class="drive">100 Fairview Drive </li>
						<li>Franklin, VA 23851</li> 
						<li>(757) 569-6100 </li>
						</span>
					</ul>
				</div>
				<div class="social-icons white-icons">
					<ul>
						<li><a href="#" class="facebook"></a></li>
						<li><a href="#" class="twitter"></a></li>
						<li><a href="#" class="chrome"></a></li>
						<li><a href="#" class="vimeo"></a></li>
						<li><a href="#" class="rss"></a></li>
				</div>
			</div>
			<div class="col-md-3 blog">
				<h3>Blog posts</h3>
				<a href="#">Justin Bieber confirmed that he is gay.</a>
				<p>Lorem ipsum dolor sit amet, consectetur
					adipiscing elit. Donec sed auctor elit.
				</p>
				<a href="#">New sexy sport clothes are here!</a>
				<p>Lorem ipsum dolor sit amet, consectetur
					adipiscing elit. Donec sed auctor elit.
				</p>
				<a href="#">Summer sales are coming!</a>
				<p>Lorem ipsum dolor sit amet, consectetur
					adipiscing elit. Donec sed auctor elit.
				</p>
			</div>
			<div class="col-md-3 support">
				<h3>Support</h3>
				<div class="support-grids">
					<div class="support-left">
						<ul>
							<li><a href="#">Terms & Conditions</a></li>
							<li><a href="#">FAQ</a></li>
							<li><a href="#">Payment</a></li>
							<li><a href="#">Refunds</a></li>
							<li><a href="#">Track Order</a></li>
							<li><a href="#">Services</a></li>
							<li><a href="#">Privacy & Security</a></li>
							<li><a href="#">Careers</a></li>
							<li><a href="#">Press</a></li>
							<li><a href="#">Corporate Information</a></li>
						</ul>
					</div>
					<div class="support-left support-right">
						<ul>
							<li><a href="#">Sizing</a></li>
							<li><a href="#">Ordering</a></li>
							<li><a href="#">Shipping</a></li>
							<li><a href="#">Return Policy</a></li>
							<li><a href="#">Affiliates</a></li>
							<li><a href="#">Find A Store </a></li>
							<li><a href="#">Site Map</a></li>
							<li><a href="#">Sign Up & Save</a></li>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-3 contact">
				<h3>Contact us</h3>
				<form>
					<input type="text" value="your e-mail..." onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'your e-mail...';}" required="">
					<textarea value="your text...:" onFocus="if(this.value == 'your text...') this.value='';" onBlur="if(this.value == '') this.value='your text...';">your text...</textarea>
					<input type="submit" value="Send MESSAGE">
				</form>
			</div>
			<div class="clearfix"> </div>
			<div class="copyright">
				<p>Copyright &copy; 2015.Company name All rights reserved.<a target="_blank" href="http://www.cssmoban.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a> - More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a></p>
			</p>
		</div>
		<!-- // container -->
	</div>
	<!-- //footer -->
</body>

</html>